<%- include('../partials/header') %>

<main id="collection">
  <h2 class="gradient-text">Collection of Confections <img class="pie" src="https://i.imgur.com/Mlgnzbl.png" alt="pie"></h2>
  <div id="confections-container">
    <% confections.forEach(function(s) { %>
    <div class="confection-item">
      <img src="<%= s.image.image.data %>" alt="Confection" />
      <h3><%= s.name %></h3>
      <a href="/confections/<%= s._id %>">Details</a>
    </div>
    <% }) %>
  </div>
</main>

<%- include('../partials/footer') %>
